.about__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
  padding: 0 5rem;
}

/* Header */
.about__header {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 0;
  font-size: 2rem;
  font-family: 'Vollkorn', serif;
  font-weight: 500;
  border-bottom: 1.5px solid var(--gray);
}

/* Content */
.about__content {
  text-align: justify;
  margin-bottom: 2rem;
}

/* Media Queries */
@media screen and (min-width: 280px) and (max-width: 768px) {
  /* Wrapper */
  .about__wrapper {
    padding: 0 1rem;
  }
}
